@charset UTF-8;


.navbar {
    border: none;
}

p.navbar-brand {
    color: white;
}

.navbar-default {
  background-color: #199296;
  border-color: #116669;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #5eb2b5;
}
.navbar-default .navbar-nav > li > a {
  color: #5eb2b5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #116669;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #116669;
}
.navbar-default .navbar-toggle {
  border-color: #116669;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #116669;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #5eb2b5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #5eb2b5;
}
.navbar-default .navbar-link {
  color: #5eb2b5;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #5eb2b5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #116669;
  }
}